name: release
on: 
  push:
    paths-ignore:
      - "README.md"
      - "art/**"     

jobs:
  release:
     if: "contains(github.event.head_commit.message, '[Released]')"
     runs-on: ubuntu-latest
#     timeout-minutes: 30
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - run: chmod +x gradlew

      - uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.6'

      - uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            ~/vpn/build
          key: ${{ runner.os }}-${{ github.job }}-${{ hashFiles('**/*.gradle*') }}-${{ hashFiles('**/gradle/wrapper/gradle-wrapper.properties') }}

      - name: Creating required files
        run: |
           echo "$SIGNING_KEY" > key.jks.base64
           echo "$PLAY_CONFIG" > play_config.json.base64

           base64 -d -i key.jks.base64 > key.jks
           base64 -d -i play_config.json.base64 > play_config.json

           echo "signing.alias=$ALIAS" >> local.properties
           echo "signing.storePassword=$STORE_PASSWORD" >> local.properties
           echo "signing.keyPassword=$KEY_PASSWORD" >> local.properties
           echo "signing.keyFile=${{github.workspace}}/key.jks" >> local.properties
        env:
           SIGNING_KEY: ${{secrets.SIGNING_KEY}}
           PLAY_CONFIG: ${{secrets.PLAY_CONFIG}}
           ALIAS: ${{secrets.ALIAS}}
           STORE_PASSWORD: ${{secrets.STORE_PASSWORD}}
           KEY_PASSWORD: ${{secrets.KEY_PASSWORD}}

      - name: Install bundle
        run: |
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3

      - name: Assemble & Sign
        run: |
          ./gradlew app:assembleRelease --stacktrace

      - name: Release Production
        run: |
          bundle exec fastlane production
